<div class="d-flex justify-content-center container ">
    <div class="min-vh-100 chat-container">
        <div class="chats d-flex flex-column">

            <div class="chat-header p-3 text-end">
                <input type="button" value="logout" class="btn btn-secondary btn-sm" (click)='logOut()'>
            </div>
            <div class="messages text-white">
                <ng-scrollbar #scrollable>
                    <li class="text-center" *ngIf="arrMessages?.length==0">
                        <div class="spinner-border" role="status">
                          </div>
                    </li>
                    <li *ngFor="let message of arrMessages" [ngClass]="{'chat-right': message.user == strCurrentUser,'chat-left': message.user != strCurrentUser}">
                        <span class="chat-name">{{message?.user}}</span> <span class="chat-time">{{message?.time}}</span>
                        <br>
                        <span  class="chat-message">{{message?.message}}</span> 
                    </li>
                    <!-- <li class="chat-right">ss</li> -->
                </ng-scrollbar>
            </div>

            <footer class="footer mt-auto">
                <form [formGroup]="chatForm" #myform="ngForm" (ngSubmit)="sendData(myform)">
                    <div class="row p-4">
                        <div class="col-8">
                            <input type="text" class="form-control custom-input" placeholder="Message" formControlName="message">
                        </div>
                        <div class="col">
                            <input type="submit" class="btn send-btn w-100" value="Send">
                        </div>
                    </div>
                </form>
            </footer>


        </div>

    </div>
</div>