<div class="d-flex vh-100 align-items-center">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-md-6 text-center">
                <form [formGroup]="loginForm" #myform="ngForm" (ngSubmit)="login(myform)">
                    <div class="row">
                        <div class="col-md-8 mb-4 text-start">
                            <input type="text" class="form-control custom-input" formControlName="name" placeholder="name">
                            <div class="text-danger"
                                *ngIf="loginForm.controls['name'].invalid && (loginForm.controls['name'].touched || blnSubmitted)">
                                <div *ngIf="loginForm.controls['name'].errors?.required || loginForm.controls['name'].errors?.whitespace">
                                    Please enter your name
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Join room" class="btn send-btn w-100">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
