/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'poppins';
    background-color: #252525 !important;
}
.chat-container{
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    padding-bottom: var(--bs-gutter-x,.75rem);
    padding-top: var(--bs-gutter-x,.75rem);
}
.chats{
    height: 100%;
    background: url(./assets/images/bg.png);
    border-radius: 10px;
    background-size: cover;
}
.footer{
    background-color: #1F2429;
    border-radius: 10px;
    font-family: 'poppins';
}
.chat-header{
    background-color: #1F2429;
    border-radius: 10px;
    color: white;
    font-family: 'poppins';
}
.messages{
    height: 100%;
}
li{
    list-style: none;
    padding: 5px 5px 5px 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'poppins';
}
.chat-left{
    background-color: #056162;
    margin-right: 40px;
    margin-left: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;  
}
.chat-right{
    background-color: #262D31;
    margin-left: 40px;
    margin-right: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chat-name{
    font-weight: bold;
    font-size: 16px;
}
.chat-time{
    color: rgb(179, 179, 179);
    padding-left: 10px;
    font-size: 13px;
}
.custom-input{
    background-color: #32393B !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
}
.send-btn{
    background-color: #056162 !important;
    color: white !important;
    box-shadow: none !important;
}